table,td,th
{
    border: outset 5px purple;
    color: white;
    
    font-family: Arial, sans-serif;
    background-color: black; 
    
}

table
{
    text-align: center;
    
}
h1
{
    color: black;
}
main
{
    text-align: center;
    border: outset 5px purple;
    background-color:rgba(255, 255, 255, 0.8); 
    padding: 3em;
   
}
caption h1
{
    color: white;
    margin-top: 1em;
}

table
{
    display: inline-block;
}