main
{
    margin: 1em;
}
p,h1
{
    margin-bottom: 1em;
}
h1
{
    text-align: center;
}
aside
{
    border: outset 5px purple;
    font-family: Arial, sans-serif; 
    font-size: large;
    padding: 3em;  
    float: left;
    clear: both;
    background-color: rgb(53, 53, 53);
    color: white;
}
iframe
{
    
    height: 50em;
    width: 70em;
}
div
{
    border: outset 5px purple;
    width: fit-content;
    height: fit-content;
    margin-left: 30%;
}