main img
{
    border: outset 5px purple;

}

h1
{
    text-align: center; 
    padding: 1em;
}
section
{
    padding: 2em;
    text-align: center;
    margin-left: 10em;
    margin-right: 10em;
}
h3
{
    padding: 0.5em;
    text-align: center;
    margin-bottom: 2em;
    border: outset 5px purple;
    background-color: rgb(53, 53, 53);
    color: white;
    
}

#imgcreador
{    
    display: inline-block;    
}

#imgstaynight
{    
    text-align: center;
    display: inline-block;    
}

div
{
    text-align: center;
}

#imgzero,#imgapocrypha,#imgmeloi,#imgfgo
{
    text-align: center;
    display: inline-block;
}
