

section
{
    padding: 2em;
    margin-top: 2em;
    background-color: rgba(0, 0, 0, 0.692);
    color: white;
    border: outset 5px purple;
    clear: both; 
    text-align: justify;  

}
p
{margin-bottom: 1em;}



h3 
{
    font-family: Arial, sans-serif;
    margin-bottom: 1em;
}

main
{
    margin-left: 20%;
    margin-right: 20%;
}
