

section
{
    padding: 2em;
    margin-top: 1em;
    background-color: rgba(0, 0, 0, 0.692);
    color: white;
    border: outset 5px purple;
    clear: both; 
    text-justify: distribute-all-lines;   
}
p
{margin-bottom: 1em;}



h3 
{
    font-family: Arial, sans-serif;
    margin-bottom: 1em;
}

main
{
    margin-right: 25%;
    margin-left: 25%;
}
